* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  max-height: 100dvh;
  min-height: 100dvh;
  background: linear-gradient(#12100E, #2B4162);
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
}

#video-container, #canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: auto;
}

#video, #canvas, #text {
  height: auto;
  position: relative;
}

#video-container, #canvas {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -9999px
}

#text {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 10px;
  font-family: monospace;
  line-height: 10px;
  padding: 2px;
  line-break: anywhere;
  word-break: break-all;
}

@media (width <= 600px) {
  #text {
    font-size: 9.9px;
  }
}